header
{
	background: #B2B2B2;
}

h1
{
	text-transform : uppercase;
	text-align : center;
	color : #FFFFFF;
}

h2
{
	text-transform : uppercase;
	color : #00007F;
}

a
{
	background : #C5C5C5;
	color : #000000;
}

.right
{
	background : #7F7F7F;
}

.left
{
	display : none;
}

